<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Congrats {{user.first_name}}!  You've logged in</h1>
    <a href="/logout">logout</a>
</body>
</html>